<section id="card-principal">
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Detalhes da viagens</h5>
                </div>
                <div class="card-body">

                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                        rel="stylesheet" />

                    <form>
                        <div class="event-schedule-area-two bg-color pad100">
                            <div class="container">
                                <div class="row">

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example3">Destino</label>
                                        <input type="text" id="form6Example3" class="form-control" disabled/>
                                        
                                    </div>

                                    <!-- Text input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example4">Tipo</label>
                                        <input type="text" id="form6Example4" class="form-control" disabled/>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example5">Data de chegada</label>
                                        <input type="date" id="form6Example5" class="form-control" disabled/>
                                        
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example5">Data de saída</label>
                                        <input type="date" id="form6Example5" class="form-control" disabled/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example4">Orçamento</label>
                                        <input type="number" id="form6Example4" class="form-control" disabled/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example4">Quantidade de pessoas</label>
                                        <input type="number" id="form6Example4" class="form-control" disabled/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <a class="btn btn-primary" href="#">Voltar</a>
                                    </div>

                                    <!-- /.col end-->
                                </div>
                                <!-- row end-->

                                <!-- /row end-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>