
<section id="card-principal">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Lista de viagens</h5>
        </div>
        <div class="card-body">

          <div id="customers">
            <tr>
              <th>Destino</th>
              <th>Tipo</th>
              <th>Data de Chegada</th>
              <th>Data de saída</th>
              <th class="botao"></th>
              <th class="botao"></th>
            </tr>
            <tr>
              <td>Acapulco</td>
              <td>LAZER</td>
              <td>20/06/2021</td>
              <td>30/06/2021</td>
              <td><a class="btn btn-primary"></a></td>
              <td><a class="btn btn-primary"></a></td>
            </tr>
            <tr>
              <td>Acapulco</td>
              <td>LAZER</td>
              <td>20/06/2021</td>
              <td>30/06/2021</td>
              <td><a class="btn btn-primary"></a></td>
              <td><a class="btn btn-primary"></a></td>
            </tr>
            <tr>
              <td>Acapulco</td>
              <td>LAZER</td>
              <td>20/06/2021</td>
              <td>30/06/2021</td>
              <td><a class="btn btn-primary"></a></td>
              <td><a class="btn btn-primary"></a></td>
            </tr>
            <tr>
              <td>Acapulco</td>
              <td>LAZER</td>
              <td>20/06/2021</td>
              <td>30/06/2021</td>
              <td><a class="btn btn-primary"></a></td>
              <td><a class="btn btn-primary"></a></td>
            </tr>

          </div>




      </div>
    </div>
    </div>
  </div>
</section>

